.fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.montly {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #60564b;
    border-radius: 2px;
}
.daily {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #877868;
    border-radius: 2px;
}
